@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap");

:root {
  --color-primary: #0e0e11;
  --color-primary-hover: #222326;
  --color-border: #222326;
  --color-text: #eaeaeb;
  --color-text-muted: #808286;
  --color-contentBG: #08080d;
}
