@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap");

:root {
  --primary-color: #141414;
  --secondary-color: #404040;
  --background-color: #1e1e1e;
  --red-color: #cc5151;
  --green-color: #397a55;
  --blue-color: #4bc9ff;
  --text-color: #fff;
  --text-focused: #fff;
  --text-unfocused: #ccc;
  --tab-font-size: 18px;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Inter, Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.25s;
}
body.fade-in {
  opacity: 1;
}
body.fade-out {
  opacity: 0;
  transition: opacity 0.25s;
}

#title {
  font-size: 8rem;
  font-weight: 900;
  padding: 12px;
}

.landing-page {
  text-align: center;
  margin-top: 50px;
}
#launch-btn {
  color: black;
  background-color: white;
  padding: 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: background 0.2s, transform 0.2s;
}

.app {
  width: 900px;
  border-radius: 8px;
  padding: 20px;
}
.app.fade-out {
  opacity: 0;
  transition: opacity 0.25s;
}

/* Tabs Styles */

.tabs {
  color: var(--text-unfocused);
  background: transparent;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
}

.tab {
  flex: 1;
  font-family: Inter, Arial, sans-serif;
  font-size: var(--tab-font-size);
  min-width: 0;
  background: transparent;
  border-radius: 50px;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  color: var(--text-unfocused);
  cursor: pointer;
  z-index: 2;
}

.tab[data-tab="Return"] {
  /* Custom style for quit tab */
  color: var(--red-color);
  text-decoration: none;
  justify-content: center;
  display: flex;
  font-size: var(--tab-font-size);
}
.tab[data-tab="Return"]:hover {
  /* Custom style for quit tab */
  color: #cc3d3d;
}

.tab-indicator {
  position: absolute;
  bottom: 5px;
  left: 5px; /* Gap from left */
  height: calc(100% - 10px); /* 5px top + 5px bottom */
  width: calc((100% / 6) - 10px); /* 6 = number of tabs, minus left/right gap */
  background: var(--secondary-color);
  border-radius: 40px;
  z-index: 1;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.tab:hover {
  color: var(--text-focused);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: grid;
  gap: 15px;
}

/* Options Styles */

.option {
  background: var(--primary-color);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.option h3 {
  margin: 0;
  font-size: 16px;
}

.option p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #aaa;
}

.option-tags {
  position: absolute;
  bottom: 12px;
  display: flex;
  gap: 5px;
  z-index: 2;
  pointer-events: none;
}

.option:has(.option-tags) .info {
  padding-bottom: 24px;
}

.tag-new {
  font-size: 10px;
  background: #da3e44;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 6px;
  color: #fff;
}
.tag-popular {
  font-size: 10px;
  background: #4bc9ff;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 6px;
  color: #fff;
}
.tag-discord {
  font-size: 10px;
  background: #5865f2;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 6px;
  color: #fff;
}
.tag-other {
  font-size: 10px;
  background: #868686;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 6px;
  color: #fff;
}
.tag-info {
  font-size: 10px;
  background: #1f202f;
  border: #373745 1px solid;
  padding: 2px 6px;
  border-radius: 4px;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #555;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.download-btn {
  background: var(--green-color);
  color: var(--text-focused);
  border-radius: 6px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s;
}
.download-btn:hover {
  background: rgba(0, 224, 158, 0.4); /* semi-transparent green */
}

.link-btn {
  background: #868686;
  color: var(--text-color);
  border-radius: 6px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s;
}
.link-btn:hover {
  background: rgba(134, 134, 134, 0.8); /* semi-transparent gray */
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(22px);
}
