---
import "../styles/style.css";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>modworks.tf</title>
</head>

<div class="app">
  <!-- Tabs -->
  <div class="tabs">
    <button class="tab active" data-tab="Info">Info</button>
    <button class="tab" data-tab="Mods">Mods</button>
    <button class="tab" data-tab="FAQ">FAQ</button>
    <button class="tab" data-tab="Other">Other</button>
    <button class="tab" data-tab="Contact">Contact</button>
    <a class="tab" data-tab="Return" href="/">Return</a>
    <div class="tab-indicator"></div>
  </div>

  <!-- Category Panels -->
  <div class="panels">
    <!-- Info Tab -->
    <div class="tab-content active" data-tab="Info">
      <div class="option">
        <div class="info">
          <h3>Welcome 👋</h3>
          <p>Thank you for using modworks.tf!</p>
        </div>
      </div>
    </div>

    <!-- Mods Tab -->
    <div class="tab-content" data-tab="Mods">
      <div class="option">
        <div class="info">
          <h3>lilith <span class="tag-new">New</span></h3>
          <p>A customizable usefull UI in TF2, toggleable with right shift</p>
        </div>
        <a
          class="download-btn"
          href="https://github.com/WhyiMicro/lilith/releases/download/1.4.1/lilith.vpk"
          download
          rel="noopener">
          Download
        </a>
      </div>

      <div class="option">
        <div class="info">
          <h3>Venom Crosshair Tool</h3>
          <p>A tool to create highly customizable weapon specific crosshairs</p>
        </div>
        <a
          class="download-btn"
          href="https://github.com/hbivnm/Venom-Crosshairs/releases/download/beta16/VenomCrosshairs_b16.0.zip"
          download
          rel="noopener">
          Download
        </a>
      </div>

      <div class="option">
        <div class="info">
          <h3>Flat Textures</h3>
          <p>Overhaul the TF2 textures, with fancy new smooth ones</p>
        </div>
        <a
          class="download-btn"
          href="https://gamebanana.com/dl/677961"
          download
          rel="noopener">
          Download
        </a>
      </div>

      <div class="option">
        <div class="info">
          <h3>Yttrium's Competetive Viewmodels</h3>
          <p>Great customizable tool to selectively hide weapon viewmodels</p>
        </div>
        <a
          class="download-btn"
          href="https://github.com/Yttrium-tYcLief/CompVMInstaller/releases/download/v1.4.1/CompVMInstaller_1.4.1.exe"
          download
          rel="noopener">
          Download
        </a>
      </div>
    </div>

    <!-- FAQ Tab -->
    <div class="tab-content" data-tab="FAQ">
      <div class="option">
        <div class="info">
          <h3>This part is being worked on!</h3>
          <p>Comming soon&trade;</p>
        </div>
      </div>
    </div>

    <!-- Other Tab -->
    <div class="tab-content" data-tab="Other">
      <div class="option">
        <div class="info">
          <h3>OpenAsar <span class="tag-discord">Discord</span></h3>
          <p>Comming soon&trade;</p>
        </div>
      </div>

      <div class="option">
        <div class="info">
          <h3>Vencord <span class="tag-discord">Discord</span></h3>
          <p>Comming soon&trade;</p>
        </div>
      </div>

      <div class="option">
        <div class="info">
          <h3>Better Discord <span class="tag-discord">Discord</span></h3>
          <p>Comming soon&trade;</p>
        </div>
      </div>

      <div class="option">
        <div class="info">
          <h3>Equalizer APO <span class="tag-other">sfx</span></h3>
          <p>A parametric / graphic equalizer for Windows</p>
        </div>
      </div>
    </div>

    <!-- Contact Tab -->
    <div class="tab-content" data-tab="Contact">
      <div class="option">
        <div class="info">
          <h3>Discord</h3>
          <p>Join the modworks.tf discord server</p>
        </div>
        <a
          class="link-btn"
          href="https://discord.gg/XFDn8bbC7Q"
          target="_blank"
          rel="noopener">
          Join
        </a>
      </div>

      <div class="option">
        <div class="info">
          <h3>Steam</h3>
          <p>The creator of modworks.tf's steam profile</p>
        </div>
        <a
          class="link-btn"
          href="https://steamcommunity.com/profiles/76561198344765754"
          target="_blank"
          rel="noopener">
          Open
        </a>
      </div>
    </div>

    <!-- Return Tab -->
    <div class="tab-content" data-tab="Return"></div>
  </div>
</div>

<script src="../scripts/main.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.body.style.opacity = "1";
  });
</script>
