---
import "../styles/style.css";
import CommonHead from "../components/CommonHead.astro";
---

<CommonHead />
<body>
  <div class="landing-page">
    <h1 id="title">modworks.tf</h1>
    <a id="launch-btn" href="./app"> launch →</a>
  </div>
</body>
