---
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>modworks.tf</title>
  </head>
  <body>
    <div class="landing-page">
      <h1 id="title">modworks.tf</h1>
      <a id="launch-btn" href="./app"> launch →</a>
    </div>
    <script src="../scripts/index.js"></script>
  </body>
</html>
