---
import { ClientRouter } from "astro:transitions";
const title = "modworks.tf";
const description =
  "A collection of useful mods for Team Fortress 2, including UI enhancements and crosshairs.";
---

<link rel="icon" type="image" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<ClientRouter />
